[mysqld]                                                                                                                                                                                               
event_scheduler=ON